* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8a5c2;
    font-family: 'DM Sans', sans-serif;
}

#wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
   position: relative;
   top: -20px;
   background-color: #778beb;
   color: white;
   border-radius: 10px;
   padding: 5rem 2rem 2rem;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.welcome-text h1 {
    font-weight: 700;
}

.game-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.game-container h1 {
    font-weight: 700;
}


.grid {
    width: 560px;
    height: 560px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.grid div {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.score-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.score-container p {
    background-color: #cb688b;
    color: white;
    padding: 2rem;
}

#restart {
    border: none;
    padding: 1rem;
    background-color: #f7f7f7;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    .grid {
        width: 400px;
        height: 400px;
        padding: 0px;
       
    }
    
    .grid div {
        width: 50px;
        height: 50px;
    }
}